.white {
  color: $white;
}

.whiteSmoke {
  color: $grayf5;
}

.bgwhiteSmoke {
  color: $grayf5;
}

.gray {
  color: $gray9e;
}

.bgWhite {
  background-color: $white;
}

.bgGreen {
  background-color: $green;
}

.bgRed {
  background-color: $red;
}
