.flexCenterX {
  justify-content: center;
}

.flexCenterY {
  align-items: center;
}

.flexColumn {
  flex-direction: column;
}

.flexRow {
  flex-direction: column;
}

.flexWrap {
  flex-wrap: wrap;
}

.flexGrow01 {
  flex-grow: 1;
}

.flexJustifyStart {
  justify-content: flex-start;
}

.flexJustifyEnd {
  justify-content: flex-end;
}

.flexJustifyCenter {
  justify-content: center;
}

.flexAlignStart {
  align-items: flex-start;
}

.flexAlignEnd {
  align-items: flex-end;
}

.flexAlignCenter {
  align-items: center;
}
