@import "../../../styles/theme.scss";

.container {
  background-color: $cardBackground;
  cursor: pointer;
  display: flex;
  height: 100%;

  &:hover {
    .characterName {
      color: $primary;
    }
  }

  @include media($md) {
    min-height: 190px;
    height: auto;
  }
}

.cardHeader {
  margin-bottom: 16px;
}

.cardMedia {
  flex-basis: 40%;
}

.cardContent {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  padding: calc(#{$spacer} * 4);
}

.characterImage {
  background: {
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  height: 100%;
  width: 100%;
}

.characterName {
  font: {
    family: "Permanent Marker";
    size: calc(#{$spacer} * 5);
    weight: 700;
  }
  transition: color 0.3s ease;

  @include media($md) {
    font-size: calc(#{$spacer} * 7);
  }
}

.locationLabel {
  color: $grayf5;
  font: {
    size: 14px;
    weight: 700;
  }
}

.locationName {
  font: {
    size: 14px;
    weight: 300;
  }
  @include media($md) {
    font-size: 18px;
  }
}
