@import "../../styles/theme.scss";

.button {
  background-color: $primary;
  border: 1px solid transparent;
  border-radius: $radiusDefault;
  color: $gray20;
  cursor: pointer;

  font: {
    size: 18px;
    weight: 600;
  }
  padding: 16px 24px;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}
