@import "../../styles/theme.scss";

.field {
  height: 86%;
  margin: 0 auto 22px auto;
  width: 100%;

  @include media($md) {
    width: 80%;
  }
}

.textarea {
  border: 2px solid $gray9e;
  border-radius: $radiusDefault;
  display: block;
  font-size: 16px;
  font-family: "Roboto";
  height: 100%;
  margin: 0 auto 22px auto;
  outline: none;
  padding: 12px 20px;
  width: 100%;

  &:focus {
    border: 2px solid $primary;
  }
}

.label {
  color: $white;
  display: block;
  margin-bottom: 8px;
}
