@import "../../../styles/theme.scss";

.heading {
  color: $grayf5;
  font-size: 28px;
  font-family: "Permanent Marker";
}

.charactersList {
  display: flex;
  flex-wrap: wrap;
}

.charactersListItem {
  border-radius: $radiusDefault;
  display: flex;
  margin: 8px;

  position: relative;
  width: 100%;

  @include media($md) {
    overflow: hidden;
    width: 46%;
  }

  &:hover {
    .overlay {
      @include media($md) {
        background-color: rgba($black, 0.6);
      }
    }

    .actionButtons {
      @include media($md) {
        transform: translateY(0);
      }
    }
  }
}

.charactersListLink {
  display: block;
  position: relative;
}

.actionButtons {
  display: flex;
  flex-direction: column;

  @include media($md) {
    flex-direction: row;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    transition: transform 0.15s ease;
    z-index: 10;
  }
}

.overlay {
  @include media($md) {
    background-color: rgba($black, 0);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 0.15s ease;
  }
}

.card {
  width: 80%;

  @include media($md) {
    width: 100%;
  }
}

.zeroFavorites {
  align-items: center;
  color: $white;
  display: flex;
  font-size: 18px;
  height: 200px;
  justify-content: center;
  width: 100%;
}

.sadFace {
  color: $primary;
  display: inline-block;
  font-size: 26px;
  margin-left: 18px;
  transform: rotate(90deg);
}
