*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bodyBackground !important;
  font-family: $fontFamily;
  margin: 0;
}

::selection {
  background-color: $textPrimary !important;
  color: $primary !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:active,
a:hover,
a:focus,
a:visited,
a:any-link {
  color: $primary;
  text-decoration: none;
}
