@import "common";

$primary: $orange;
$secondary: $dark33;
$bodyBackground: $gray20;
$cardBackground: $gray3c;
$textPrimary: $dark33;
$radiusDefault: $radiusMedium;
$radiusRounded: $radius50;

$shadowDefault: $shadow01;
$shadowWide: $shadow02;
