@import "../../styles//theme";

.container {
  padding: 48px 0;
}

.charactersListItem {
  margin: calc(#{$spacer} * 2);
  width: 100%;

  @media (min-width: 768px) {
    width: 47%;
  }
}
.errorMessage {
  color: $white;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-top: 70px;
}
