@import "../../../styles/theme.scss";

.button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: $radiusDefault;
  color: $grayf5;
  cursor: pointer;

  font: {
    size: 18px;
    weight: 600;
  }
  margin: 8px;
  padding: 16px 24px;
  transition: all 0.2s;
  width: 100%;

  &:hover {
    transform: scale(1.05);
  }
  @include media($md) {
    width: auto;
  }

  &.outlined {
    border-color: $grayf5;

    &.primary {
      color: $primary;
      border-color: $primary;

      &:hover {
        background-color: rgba($primary, 0.04);
      }
    }
  }

  &.contained {
    border-color: $gray3c;
    background-color: $gray3c;

    &.primary {
      border-color: $primary;
      background-color: $primary;
    }
  }
}
