@import "../../styles//theme";

.container {
  color: $primary;
  background-color: $white;
}

.heading {
  font: {
    family: "Permanent Marker";
    size: 28px;
  }
  margin: 0 8px;
  text-align: center;

  @include media($md) {
    text-align: left;
  }
}

.navList {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 28px 0;

  @include media($md) {
    justify-content: flex-end;
  }
}

.link {
  align-items: center;
  color: $gray9e !important;
  display: inline-flex;
  font: {
    family: "Permanent Marker";
    size: 16px;
  }
  padding: 8px 12px;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: $primary;
  }
}

.homeIcon,
.starIcon {
  margin-right: 6px;
}

.starIcon {
  color: $primary;
}
